{% extends 'layouts.html' %}

{% block conteudo %}

{% include 'navbar.html' %}

<div class="container mt-4">
    {% include '_messages.html' %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-sm">
                <h5 class="text-center">Endereço de entrega</h5>
                <tr>
                    <td></td>
                    <td colspan="2">Cep Destino:&nbsp;{{current_user.zipcode}}</td>
                    <td colspan="2">Mnicípio/Uf: {{current_user.city}} / {{current_user.region}}</td>
                    <td colspan="2">Endereço: {{current_user.address}} , {{current_user.number}} - {{current_user.neighborhood}}</td>
                </tr>
            </table>
            <table class="table table-sm">
                <tr>
                   <td></td>
                   <td> <a href="{{url_for('pedido_order', valorfrete=valorfrete, valorpagar=valorpagar, prazoentrega=prazoentrega)}}" class="btn btn-sm btn-success float-start">Processar Compra</a></td>
                   <td colspan="2">Data:&nbsp;{{dthoje}}</td>
                   <td colspan="4">Total Frete:&nbsp; R$ {{valorfrete}}</td>
                   <td colspan="6">Valor Pagar:&nbsp; R$ {{valorpagar}}</td>
                   <td colspan="8">Dt.Prev.Entrega:&nbsp; {{dtentrega}}</td>
                   <td> <a href="{{url_for('getCart')}}" class="btn btn-sm btn-warning float-end">Retornar Carrinhos</a></td>
                </tr>
            </table>
            <table class="table table-sm">
                <thead>

                    <th>Código</th>
                    <th>Imagem</th>
                    <th>Nome</th>
                    <th>Tam.</th>
                    <th>Preço</th>
                    <th>Quant.</th>
                    <th>Sub-total</th>
                    <th>Desconto</th>
                    <th>Frete</th>
                    <th>Vl.Pagar</th>
                    <th>Prev.entrega</th>
                </thead>

                <tbody>
                    {% for key , produto in session['LojainCarrinho'].items() %}
                    {% set discount = "%0.2f" | format((produto.discount/100) * produto.price|float) %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td><img src="{{url_for('static', filename='images/'+ produto.image)}}" alt="{{produto.name}}" width="50" height="50"></td>
                        <td>{{produto.name}}</td>
                        <td>{% set sizes = produto.sizes.split(',') %}
                            {{produto.size}}
                        </td>
                        <td>R$ {{produto.price}}</td>
                        <td>{{produto.quantity}}</td>
                        <td>R$ {{produto.subtotal}}</td>
                        {% if produto.discount > 0 %}
                        <td>{{produto.discount}} % &nbsp; = {{produto.desconto}}</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        <td>R$ {{produto.freight}}</td>
                        <td>R$ {{produto.total}}</td>
                        <td>{{produto.dtentrega}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock conteudo %}

