{% extends "layouts.html" %}

{% block conteudo %}

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        {% include "_messages.html" %}
        {% if updatemarca %}
        <h2 class="text-center mt-5"> Cadastrar Marcas </h2>
        <form action="" method="POST">
          <input type="text" name="marca" class="form-control" value="{{updatemarca.name}}">
          <input type="submit" value="Atualizar Fabricante" class="btn btn-success mt-2">
        </form>
        <a class="btn btn-danger" style="margin-top: -68px; margin-left: 180px;" href="{{url_for('marcas')}}">Cancelar</a>

        {% else %}

        <h2 class="text-center mt-5"> Cadastrar Categorias </h2>
        <form action="" method="POST">
          <input type="text" name="categoria" class="form-control" value="{{updatecat.name}}">
          <input type="submit" value="Atualizar Categoria" class="btn btn-success mt-2">
        </form>
        <a class="btn btn-danger" style="margin-top: -68px; margin-left: 180px;" href="{{url_for('marcas')}}">Cancelar</a>

        {% endif %}

    </div>
    <div class="col-md-3"></div>
  </div>
</div>

{% endblock conteudo %}