{% extends "layouts.html" %}

{% block conteudo %}

{% include "navbar-adm.html" %}

<div class="container mt-3">
  {% include '_messages.html' %}
  <table class="table table table-sm table-striped">
    <thead>
      <th>Id</th>
      <th>Produto</th>
      <th>Preço</th>
      <th>Desconto</th>
      <th>Fabricante</th>
      <th>Foto</th>
      <th>Editar</th>
      <th>Deletar</th>
    </thead>
    <tbody>
      {% for produto in produtos %}
      <tr>
        <td>{{loop.index}}</td>
        <td>{{produto.name}}</td>
        <td>{{produto.price}}</td>
        <td>{{produto.discount}} %</td>
        <td>{{produto.marca.name}}</td>
        <td><img src="{{url_for('static',filename='images/' + produto.image_1)}}" width="50" height="40"></td>
        <td><a href="{{url_for('updateproduto', id=produto.id)}}" class="btn btn-success btn-sm">Editar</a></td>
        <td>
          <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
            data-bs-target="#exampleModal-{{produto.id}}">
            Excluir
          </button>
        </td>


      </tr>


      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal-{{produto.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">{{produto.name}}</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <span class="text-danger">Deseja realmente excluir esta categoria {{produto.name}}?</span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning btn-sm" data-bs-dismiss="modal">Cancelar</button>
              <!--<button type="button" class="btn btn-primary">Save changes</button>-->
              <form action="{{url_for('deleteproduto', id=produto.id)}}" method="POST">
                <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
              </form>
            </div>
          </div>
        </div>
      </div>




      {% endfor %}
    </tbody>

  </table>

</div>



{% endblock conteudo %}